.stvorec1{
    margin: 5px;
    color: #2310c9;
    width: 200px;
    height: 200px;
    border: 2px;
    border-color: #1a0d8d;
    border:solid;
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
    float: left;
}
.stvorec2{
    margin: 5px;
    color: #2310c9;
    width: 200px;
    height: 200px;
    border: 2px;
    border-color: #1a0d8d;
    border:solid;
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
    float: left;
}
.stvorec3{
    margin: 5px;
    color: #2310c9;
    width: 200px;
    height: 200px;
    border: 2px;
    border-color: #1a0d8d;
    border:solid;
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
    float: left;
}
.stvorec4{
    margin: 5px;
    color: #2310c9;
    width: 200px;
    height: 200px;
    border: 2px;
    border-color: #1a0d8d;
    border:solid;
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
    float: left;
}