.test {
    width: 100%;

}
.test .image{
    text-align: center;
}
.test .buttons {
    margin-top: 20px;
    text-align: center;
}
.test button {
    background-color: rgb(165, 165, 2);
    color: black;
    font-size: 2em;
    border:solid 1px rgb(133, 86, 15) ;
    padding: .3em;
    border-radius: .5em;
}
.test button:hover {
    background-color:#fcc060 ;
    cursor: pointer;
}
.test .center{
    text-align: center;
}
.test .success{
    color: limegreen;
    font-size: 3em;
}
.test .failed{
    color: orangered;
    font-size: 3em;
}